.CaseStudy__MainContent {
    padding: 20px;
}

.CaseStudies__Header {
    display: grid;
    grid-auto-flow: column;
    height: 200px;
    background-color: #000;
    color: #fff;
    align-items: center;
}

.CaseStudies__Header__Title {
    font-size: 40px;
}

.CaseStudies__Header__Image {
    height: 200px;
}

.CaseStudies__Body {
    padding: 20px;
    color: #000;
}

.CaseStudies__Body__Title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}

.CaseStudies__Body__Studies {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}