.CaseStudy__Back {

}

.CaseStudy__Back:hover {
    color: blue;
}

.CaseStudy__Inner {
    padding: 20px;
}

.CaseStudy__Title { 
    font-size: 30px;
    margin-bottom: 10px;
}

.CaseStudy__Description {
    font-style: italic;
}

.CaseStudy__MainContent {
    padding-top: 20px;
}