.CaseStudy__Tile {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr, 2fr;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;;
    cursor: pointer;
}

.CaseStudy__Tile__Title {
    grid-column: 1;
}

.CaseStudy__Tile__Image {
    grid-column: 2/3;
    width: 100%;
}