.ToolBar {
    height: 25px;
    background-color: #fff;
    opacity: .6;
    display: grid;
    grid-auto-flow: column;
    padding: 0 10px;
    font-size: 13px;
}

.ToolBar__Left {
    height: 100%;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}

.ToolBar__Logo {
    width: 20px;
}

.ToolBar__Right {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}