.CaseStudy__Role {
    font-weight: 700;
    margin-bottom: 20px;
}

.CaseStudy__Section {
    margin-bottom: 30px;
    /* padding-bottom: 20px; */
}


.CaseStudy__Section h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color:rgb(19, 64, 198);
}

.CaseStudy__Section h4 {
    font-style: italic;
    font-size: 18px;
    margin: 10px 0;
}